@font-face {
    font-family: 'Sam3';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Sam3/Sam3.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Sam3/Sam3.woff') format('woff');
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Sam3/Sam3.ttf') format('truetype');
}
